# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
.env

# Node
node_modules/
.next/
out/

# Logs
*.log

backend/staticfiles/
*.pyc
__pycache__/
.env.local
db.sqlite3
node_modules/